.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem var(--ubq-base-margin-l, 1rem);
  border-bottom: 1px solid #0000001a;
}

.sidebarHeadline {
  color: var(--ci-foreground-black-light, rgba(22, 22, 23, 0.65));
  font-family: var(--font-family-gt);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1.25rem;
}

.snapshotList {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: var(--ubq-base-margin-s, 0.5rem) var(--ubq-base-margin-l, 1rem);
  gap: 0.25rem;
  overflow-y: auto;
}

.snapshotItem {
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: none !important;
  gap: 0.5rem;
  text-align: start;
  transition: background 0.2s ease-in-out;
  background: transparent;
}

.snapshotItem:hover,
.snapshotItem:focus-visible {
  background: var(--ci-accent-primary-lightest, rgba(71, 26, 255, 0.05));
}

.snapshotItem:hover .snapshotItemButton,
.snapshotItem:focus-visible .snapshotItemButton {
  background: var(--ci-accent-primary-lighter, rgba(71, 26, 255, 0.25));
}

.snapshotDivider {
  width: 90%;
  height: 1px;
}

.snapshotItemImage {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  object-fit: contain;
}

.snapshotItemInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.snapshotItemDate {
  color: var(--ci-foreground-black-default, #161617);
  font-family: var(--font-family-ibm-sans);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.0175rem;
  line-height: 1.25rem;
}

.snapshotItemButton {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0rem 2.5rem;
  border-radius: 0.5rem;
  color: var(--light-interactive-accent-default, #3d5cf5);
  font-family: var(--font-family-ibm-sans);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.0175rem;
  line-height: 1.25rem;
  transition: background 0.2s ease-in-out;
  white-space: nowrap;
}

.cesdk {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cesdkWrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px rgba(22, 22, 23, 0.25),
    0px 4px 6px -2px rgba(22, 22, 23, 0.12),
    0px 2px 2.5px -2px rgba(22, 22, 23, 0.12),
    0px 1px 1.75px -2px rgba(22, 22, 23, 0.12);
}

.wrapper {
  display: flex;
  flex-grow: 1;
  border-radius: 0.75rem;
  gap: 0.1rem;
}

.sidebar_open {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 0px 2px rgba(22, 22, 23, 0.25),
    0px 4px 6px -2px rgba(22, 22, 23, 0.12),
    0px 2px 2.5px -2px rgba(22, 22, 23, 0.12),
    0px 1px 1.75px -2px rgba(22, 22, 23, 0.12);
  color: #161617;
}

.sidebar_close {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 0px 2px rgba(22, 22, 23, 0.25),
    0px 4px 6px -2px rgba(22, 22, 23, 0.12),
    0px 2px 2.5px -2px rgba(22, 22, 23, 0.12),
    0px 1px 1.75px -2px rgba(22, 22, 23, 0.12);
  color: #161617;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebarOpen {
  transform: translateX(0);
}

.sidebarClosed {
  transform: translateX(100%);
}

.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem var(--ubq-base-margin-l, 1rem);
  border-bottom: 1px solid #0000001a;
}

.sidebarHeadline {
  color: var(--ci-foreground-black-light, rgba(22, 22, 23, 0.65));
  font-family: var(--font-family-gt);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  line-height: 1.25rem;
}

.sidebarHeaderRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.snapshotList {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: var(--ubq-base-margin-s, 0.5rem) var(--ubq-base-margin-l, 1rem);
  gap: 0.25rem;
  overflow-y: auto;
}

.snapshotItem {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: none !important;
  gap: 0.5rem;
  text-align: start;
  transition: background 0.2s ease-in-out;
  background: transparent;
}

.snapshotItem:hover,
.snapshotItem:focus-visible {
  background: var(--ci-accent-primary-lightest, rgba(71, 26, 255, 0.05));
}

.snapshotDivider {
  width: 90%;
  height: 1px;
  margin: 0.25rem auto;
  background-color: #0000001a;
}

.snapshotItemInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.snapshotItemDate {
  color: var(--ci-foreground-black-default, #161617);
  font-family: var(--font-family-ibm-sans);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.0175rem;
  line-height: 1.25rem;
}

.snapshotItemButton {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0rem 2.5rem;
  border-radius: 0.5rem;
  color: var(--light-interactive-accent-default, #3d5cf5);
  font-family: var(--font-family-ibm-sans);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.0175rem;
  line-height: 1.25rem;
  transition: background 0.2s ease-in-out;
  white-space: nowrap;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--ci-foreground-black-light, rgba(22, 22, 23, 0.65));
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

.closeButton:hover {
  background-color: var(--ci-accent-primary-lightest, rgba(71, 26, 255, 0.05));
  color: var(--ci-foreground-black-default, #161617);
}

.openButton {
  position: fixed;
  top: 25%;
  right: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #0000001a;
  border-right: none;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
  /* z-index: 999; */
  display: flex;
  align-items: center;
  box-shadow: -2px 0 4px rgba(22, 22, 23, 0.12);
  transition: background-color 0.2s ease-in-out;
}

.openButton:hover {
  background-color: var(--ci-accent-primary-lightest, rgba(71, 26, 255, 0.05));
}

.openButtonHidden {
  display: none;
}

.openButtonText {
  font-size: 14px;
}
