@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap");
@import url("./Sidebar.css");
@import url("./pagemarginSlider.css");
@import url("./Accordion.css");
@import url("./Button.css");
@import url("./Section.css");
@import url("./TreeMenu.css");
@import url("../node_modules/react-grid-layout/css/styles.css");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cesdkStyle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cesdkWrapperStyle {
  position: relative !important;
  overflow: hidden !important;
  flex-grow: 1 !important;
  display: flex !important;
  border-radius: 0.75rem !important;
  box-shadow: 0px 0px 2px rgba(22, 22, 23, 0.25), 0px 4px 6px -2px rgba(22, 22, 23, 0.12),
    0px 2px 2.5px -2px rgba(22, 22, 23, 0.12), 0px 1px 1.75px -2px rgba(22, 22, 23, 0.12) !important;
}
.cesdkWrapperStylePreview {
  min-height: 100vh !important;
}

.cesdkWrapperStyleWithoutPreview {
  min-height: calc(100vh - 70px) !important;
}

.fJ-stripe-container {
  min-width: 500px;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}
.fJ-stripe-subscription-container {
  max-width: 30%;
}
.fj-stripe-info {
  width: 400px;
  padding: 10px;
  border: "1px solid black";
  height: "100%";
}
.fj-stripe-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu",
    sans-serif;
  line-height: 1.3;
  color: #1a1a1ab3;
  font-weight: 500;
  margin: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.sectionBtn .mantine-Button-inner {
  justify-content: start !important;
}
/* width */
.gjs-editor-cont ::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

/* Track */
.gjs-editor-cont ::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Handle */
.gjs-editor-cont ::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #888 !important;
}

/* Handle on hover */
.gjs-editor-cont ::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

/* Hide scrollbar corner */
.gjs-editor-cont ::-webkit-scrollbar-corner,
::-webkit-scrollbar-corner {
  background-color: transparent !important;
}

.menu-bar-button {
  transition: background-color 0.3s;
}
.menu-bar-icon {
  transition: stroke 0.3s;
}
.menu-bar-button:hover .menu-bar-icon {
  stroke: #228be6;
}

/* Overriding the default toolbar styling */
.gjs-toolbar {
  background-color: white !important;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.gjs-toolbar-item {
  color: #5c5f66;
  margin: 4px;
  transition: background-color 0.3s;
  position: relative;
}

.gjs-toolbar-item:hover {
  color: #228be6;
  background-color: #e7f5ff;
  border-radius: 5px;
}

.gjs-toolbar-item:hover:after {
  position: absolute;
  bottom: -30px;
  background-color: #000;
  left: 0;
  padding: 3px 10px;
  border-radius: 4px;
  color: #fff;
}
.gjs-toolbar-item__section-layout-toggle:hover:after {
  content: "Adjust Columns";
}
.gjs-toolbar-item__section-layout-toggle,
.gjs-toolbar-item:nth-last-child(2) {
  stroke: #5c5f66;
}
.gjs-toolbar-item__section-layout-toggle:hover,
.gjs-toolbar-item:nth-last-child(2):hover {
  stroke: #228be6;
}
.darkIcon {
  color: #fff !important;
}
.gjs-toolbar-item__dish-alignment:hover:after {
  content: "Align Dish";
}
.gjs-toolbar-item__section-menu-item-layout-toggle:hover:after {
  content: "Align Price";
}

.gjs-toolbar-item__section-header-align:hover:after {
  content: "Align Header";
}

.gjs-toolbar-item:last-child:hover:after {
  content: "Delete";
}
.gjs-toolbar-item:last-child {
  color: #fa5252;
}
.gjs-toolbar-item:last-child:hover {
  background-color: #fa525229;
}
.gjs-toolbar-item:last-child svg {
  margin-left: -2px;
}
.gjs-toolbar-item__backwardImg:hover:after {
  content: "Backwards";
}
.gjs-toolbar-item__forwardImg:hover:after {
  content: "Forwards";
}
.gjs-toolbar-item__uploadImg:hover:after {
  content: "Replace";
}
.gjs-toolbar-item__description-placement:hover:after {
  content: "Align Description";
}
.gjs-toolbar-item:nth-last-child(2):hover:after {
  content: "Duplicate";
}
.gjs-toolbar-item:nth-last-child(3):hover:after {
  content: "Move";
}
.gjs-toolbar-item__section-add-on-toggle:hover:after {
  content: "Add-on";
}
.gjs-toolbar-item__justify-header-image:hover:after {
  content: "Justify Image" !important;
}
.myMenu.active {
  position: relative;
}
.myMenu.active::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #4c6ef5;
  position: absolute;
  bottom: -22px;
  left: 0;
}
.templates.active {
  position: relative;
}
.templates.active::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #fab005;
  position: absolute;
  bottom: -22px;
  left: 0;
}
.gjs-toolbar-item__uploadImg svg {
  fill: none !important;
}
.mantine-Modal-root,
.mantine-Header-root {
  z-index: 201;
}
.mantine-Drawer-drawer:hover {
  overflow-y: scroll;
}
.mantine-Drawer-header {
  direction: ltr;
}
.mantine-Popover-dropdown {
  overflow-y: scroll;
  max-height: 600px;
}
html {
  overflow-x: auto;
}
.gjs-one-bg {
  background-color: #e7ebee !important;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Override Canvas Styling */
.gjs-cv-canvas__frames {
  transform-origin: 0 0;
}

.gjs-pn-panel.gjs-pn-views {
  top: 0;
}

.gjs-pn-panel.gjs-pn-views-container {
  top: 0;
}

.scrollable-wrapper {
  overflow: auto;
  margin-left: calc(4vw + 66px);
  height: 100%;
  width: calc(100% - 4vw - 66px);
}

.scrollable-content {
  display: flex;
  max-width: 100%;
  height: 100%;
}

.canvas-wrapper {
  padding: 40px;
  display: flex;
  margin: auto;
  position: relative;
}
.input-phone input {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  height: 36px;
  -webkit-tap-highlight-color: transparent;
  line-height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  resize: none;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  color: #000;
  display: block;
  text-align: left;
  min-height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background-color: #fff;
  -webkit-transition: border-color 100ms ease;
  transition: border-color 100ms ease;
}
.input-phone input:focus,
.optInput:focus {
  outline: 0;
  border: 1.5px solid rgb(86, 138, 226);
}
.optInput {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  height: 30px;
  width: 30px !important ;
  resize: none;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: grey;
  min-height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background-color: #fff;
  -webkit-transition: border-color 100ms ease;
  transition: border-color 100ms ease;
  margin: 0 5px;
}

@media (max-width: 900px) {
  .fJ-stripe-container {
    min-width: 350px;
  }
  .fJ-stripe-subscription-container {
    max-width: 50%;
  }
}
@media (max-width: 754px) {
  .fj-stripe-container {
    align-items: center;
    flex-direction: column;
    gap: 10;
  }
  .fJ-stripe-container {
    min-width: 100%;
  }
  .fj-stripe-info {
    width: 100%;
  }
  .fJ-stripe-subscription-container {
    max-width: 95%;
  }
}

.resize-handle-e,
.resize-handle-w {
  position: absolute;
  display: flex;
}

.resize-handle-e {
  bottom: 69px;
  right: 0px;
}

.resize-handle-w {
  bottom: 69px;
  left: 0px;
}

.resize-icon {
  width: 16px;
  height: 16px;
  background-image: url("/icons/divider.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.react-resizable-handle {
  opacity: 0;
}

@font-face {
  font-family: "Satoshi-regular-400";
  src: url("/fonts/satoshi/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Regular.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-medium-500";
  src: url("/fonts/satoshi/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Medium.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-bold-700";
  src: url("/fonts/satoshi/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-Bold.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-italic-400";
  src: url("/fonts/satoshi/Satoshi-LightItalic.woff2") format("woff2"),
    url("/fonts/satoshi/Satoshi-LightItalic.woff") format("woff"),
    url("/fonts/satoshi/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.mantine-1h1e1wn {
  padding: 2px;
}

.UBQ_DockSeparator-module__block--8XSWX {
  border: 1px solid black !important;
  width: 70px !important;
}

.editorTitleSpinner {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  transform-origin: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.upload-font-modal-cesdk-modal {
  z-index: 1010;
}

.ubq-public[data-ubq-theme="light"][data-ubq-scale="normal"] {
  --ubq-interactive-accent-default: hsl(30, 100%, 50%); /* Vibrant orange */
  --ubq-interactive-accent-hover: hsl(30, 100%, 60%); /* Lighter orange for hover */
  --ubq-interactive-accent-pressed: hsl(30, 100%, 40%); /* Darker orange for pressed */
  --ubq-focus-default: hsl(30, 30%, 92.5%);
}

/* grid-layout-custom.css */

/* Override the default react-grid-layout styles */
.react-grid-item.react-grid-placeholder {
  /* Change the default red placeholder to something more subtle or transparent */
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: 1px dashed #ccc !important;
  opacity: 0.4 !important;
  /* Other placeholder styles you may want to override */
}

/* Ensure there's no background on dragging */
.react-grid-item.react-draggable-dragging {
  /* Remove or change background color during drag */
  background-color: transparent !important;
  z-index: 100;
  /* Optional: add a subtle box-shadow to indicate that it's being dragged */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Make sure the sections don't have unwanted backgrounds */
.grid-item-wrapper {
  background-color: transparent !important;
}

/* Custom styles for the grid layout */
.custom-grid-layout {
  /* Any additional styling for the overall grid */
}

/* Ensure section items don't have any unexpected backgrounds */
.react-grid-item:not(.react-grid-placeholder) {
  background-color: transparent !important;
}

/* Improve the resize handles visibility without affecting the section */
.resize-handle {
  /* Make the resize handles more visible if needed */
  background-color: transparent;
}

.icon-container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(135deg, #fee2e2 0%, #fecaca 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
