.fj-tree-menu {
  height: 90%;
}
.fj-tree-menu-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  /* border: 1px solid #e5e5e5; */
  border-radius: 4px;
  overflow: hidden;
}
.fj-tree-menu-parent {
  padding: 0px 20px;
  margin: 5px 0px;
  color: #001a32;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.92px;
}
.fj-tree-menu-section::before {
  content: "";
  width: 1.5px;
  height: 76%;
  background-color: #8f949f9c;
  position: absolute;
  top: 13px;
  left: 9px;
}
.fj-tree-menu-parent::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  border: 2px solid #8f96a3;
  top: 12px;
  left: 7px;
}
.fj-tree-menu-children {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
}
.fj-tree-menu-child-selected {
  border-radius: 2px;
  border: 0px solid var(--character-base, #393e46);
  background: var(--state-layer-neutral-dark-02, rgba(46, 49, 56, 0.08));
}
.fj-tree-menu-branch {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-right: 5px;
}
.fj-tree-menu-child {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px 0;
  position: relative;
  cursor: pointer;
}
.fj-tree-menu-child-text {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  color: #001a32;
  white-space: nowrap;
  padding: 2px 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fj-tree-start-section::before {
  height: 100%;
  top: 13px;
  left: 9px;
}
.fj-tree-mid-section::before {
  height: 100%;
  top: 0px;
  left: 9px;
}
.fj-tree-end-section::before {
  height: 100%;
  top: -30px;
  left: 9px;
}
.isSinglePage::before {
  height: 80%;
  top: 13px;
  left: 9px;
}
